*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/caches
/.idea/statistic.xml
/.idea/markdown-navigator
/.idea/markdown-navigator.xml
/.idea/libraries
.DS_Store
/build
/captures
app/companieshouse.jks
app/app-release.apk
app/release
